body {
}

pre {
  background: #eee;
  padding: 6px 12px;
  border-radius: 6px;
}

.container-narrow {
  max-width: 680px;
  padding: 0 15px;
}

.hidden {
  display: none;
}

.setup section {
  margin-top: 1em;
  border-radius: 6px;
  border: 1px #eee solid;
  background: #fafafa;
  padding: 1em;
}
.setup pre {
  background: #eee;
  border: 1px #ddd solid;
}
.setup h2, .setup h3 {
  color: #333;
}

.api-docs h2, .api-docs h3 {
  margin-top: 1em;
}

.login-details {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 6px;
  border: 1px #eee solid;
  background: #fafafa;
  padding: 1em;
}
.login-details p:last-child {
  margin-bottom: 0;
}
.redirect_uri {
  font-size: 0.8em;
}

.choose-profile ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.choose-profile ul li {
  margin-bottom: 1em;
}

.setup-help {
  margin-top: 3em;
  padding: 1em;
  border-radius: 6px;
}
.profile-examples img {
  border-radius: 6px;
  border: 1px #ccc solid;
  margin: 1em 0;
}

footer.footer {
  margin-top: 60px;
  background: #343A40;
  color: white;
}
footer.footer ul {
  margin: 0;
  padding: 60px;
}
footer.footer a {
  color: #D2ECF1;
}
